* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

window#waybar {
    background-color: transparent;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

.modules-left,
.modules-right {
    margin: 0 12px;
}


/* 
 ** Modules Left
*/

.modules-left widget #workspaces button {
    all: unset;
    background-color: #fff;
    margin: 12px 0;
    border-radius: 50%;
    transition: .2s ease-in-out;
}

.modules-left widget #workspaces button.active {
    margin: 11px 0;
    border-radius: 2em;
    padding: 0 14px;
    background-color: #1793d1;
}

.modules-left widget #workspaces button label {
    font-size: 2px;
    padding: 0 2px;
}

.modules-left widget #workspaces button:not(:last-child) {
    margin-right: 4px;
}


/* 
 ** Modules Center
*/

.modules-center #clock {
    font-size: 13px;
}


/* 
 ** Modules Right
*/

.modules-right widget > * {
    font-size: 14px;
    margin: 0 12px;
}

#tray {
    color: #dedede;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#custom-updates.green {
    color: lightgreen;
}

#custom-updates.yellow {
    color: #ff9a3c;
}

#custom-updates.red {
    color: #dc2f2f;
}

#battery.charging, #battery.plugged {
    color: #26A65B;
}

#battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#bluetooth.on,
#bluetooth.connected {
    color: #33ccfe;
}

#network.linked,
#network.ethernet,
#network.wifi {
    color: #33ccfe;
}

#custom-exit {
    margin-right: .5em;
    color: #dc2f2f;
}


/* 
 ** Animations
*/

@keyframes blink {
    to {
        color: #000000;
    }
}

